body {
    font-family: Arial, sans-serif;
    text-align: center;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.key {
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.key:hover {
    background-color: #aaa;
}

.key:active {
    background-color: #888;
}

 #wave-type-button {
            position: relative;
            top: 10px;
            left: 10px;
            background-color: #f0f0f0;
            border: none;
            padding: 10px;
            cursor: pointer;
        }

        #wave-type-menu {
            position: absolute;
            top: 40px;
            left: 0;
            background-color: #f0f0f0;
            border: 1px solid black;
            padding: 10px;
            display: none;
        }

        #wave-type-menu ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        #wave-type-menu li {
            padding: 10px;
            cursor: pointer;
        }

        #wave-type-menu li:hover {
            background-color: #ccc;
        }

        .hidden {
            display: none;
        }