@font-face {
    font-family: 'pbi';
    src: url(pbi.ttf);
}

body {
    font-family: 'pbi', sans-serif;
    font-size: large;
    text-align: center;
    max-width: 670px;
    margin-left: auto;
    margin-right: auto;
    background-image: url('branding-back.png');
}


#wave-type-button {
            display: inline-block;
            cursor: pointer;
            background-color: rgb(26, 25, 25);
            padding: 20px;
            padding-top: 35px;
            padding-bottom: 35px;
            border-radius: 20px;
            border: rgb(0, 230, 57) 2px solid;
            box-shadow: 10px 10px 5px rgb(93, 231, 0);
            color: lime;
            width: 200px; 
            outline-width: 0;
            font-family: 'pbi', sans-serif;
        }

        #wave-type-menu {
            position: absolute;
            top: 40px;
            left: 0;
            background-color: #f0f0f0;
            border: 1px solid black;
            padding: 10px;
            display: none;
        }

        #wave-type-menu ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        #wave-type-menu li {
            padding: 10px;
            cursor: pointer;
        }

        #wave-type-menu li:hover {
            background-color: #ccc;
        }

        .hidden {
            display: none;
        }

#pitch-shift-box {
    width: 200px; 
    height: 200px; 
    background-color: #ccc;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 40px;
    background-color: rgb(26, 25, 25);
    border-radius: 20px;
    border: rgb(0, 230, 57) 2px solid;
    box-shadow: 10px 10px 5px rgb(93, 231, 0);
    color: lime;
    display: inline-block;
}

p {
    padding-top: 75px;
    cursor: default;
}

.key {
    width: 50px;
    height: 50px;
    margin: 5px;
    display: inline-block;
    text-align: center;
    padding-top: 15px;
    font-size: 24px;
    cursor: pointer;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

.row {
    text-align: center;
}

#keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(26, 25, 25);
    padding: 20px;
    padding-top: 35px;
    padding-bottom: 35px;
    border-radius: 20px;
    border: rgb(0, 230, 57) 2px solid;
    box-shadow: 10px 10px 5px rgb(93, 231, 0);
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.key.active {
    background: lime;
    color: black;
}

h1 {
    background-color: rgb(26, 25, 25);
    padding: 20px;
    padding-top: 35px;
    padding-bottom: 35px;
    border-radius: 20px;
    border: rgb(0, 230, 57) 2px solid;
    box-shadow: 10px 10px 5px rgb(93, 231, 0);
    color: lime;
}

#play-button, #record-button, #clear-button {
    background-color: rgb(26, 25, 25);
    padding-top: 35px;
    padding-bottom: 35px;
    border-radius: 20px;
    margin-top: 30px;
    border: rgb(0, 230, 57) 2px solid;
    box-shadow: 10px 10px 5px rgb(93, 231, 0);
    color: lime;
    width: 215px;
    cursor: pointer;
    font-family: 'pbi', sans-serif;
    font-size: large;
}



